:root:root { 
    --ck-z-modal: calc(var(--ck-z-default) + 1); 
    --ck-z-modal: calc(var(--ck-z-default) + 1052);
} 

._e1f367dfc208 { 
    -webkit-align-items: center; 
    align-items: center; 
    background-color: #fff; 
    border: 1px solid #d3d9e0; 
    border-radius: 9999px; 
    display: -webkit-flex; 
    display: flex; 
    overflow: hidden; 
    position: relative;
} 

._e1f367dfc208 { 
    align-items: center; 
    background-color: #fff; 
    border: 1px solid #d3d9e0; 
    border-radius: 9999px; 
    display: flex; 
    overflow: hidden; 
    position: relative;
} 



    

._e1f367dfc208:hover { 
    border: 1px solid #3092fa;
} 

*,:after,:before { 
    box-sizing: border-box;
} 

:before,:after { 
    box-sizing: border-box;
} 



._ccbdb6025af7 { 
    -webkit-align-items: center; 
    align-items: center; 
    background-color: #fff; 
    border: 0; 
    box-sizing: border-box; 
    color: #2f3e4e; 
    display: -webkit-flex; 
    display: flex; 
    height: 100%; 
    outline: 0; 
    position: relative; 
    width: 100%;
} 

._ccbdb6025af7 { 
    align-items: center; 
    background-color: #fff; 
    border: 0; 
    box-sizing: border-box; 
    color: #2f3e4e; 
    display: flex; 
    height: 100%; 
    outline: 0; 
    position: relative; 
    width: 100%;
} 

 

._ccbdb6025af7:placeholder-shown { 
    display: block; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    width: 100%;
} 

._ccbdb6025af7._f04bf322e3f3 { 
    padding: 8px 16px;
} 

._ccbdb6025af7:placeholder-shown { 
    display: block; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
} 

._ccbdb6025af7:placeholder-shown { 
    width: 100%;
} 

._b5480744d655 { 
    -webkit-align-items: center; 
    align-items: center; 
    display: -webkit-flex; 
    display: flex; 
    -webkit-flex-shrink: 0; 
    flex-shrink: 0; 
    -webkit-justify-content: center; 
    justify-content: center;
} 

._b5480744d655 { 
    align-items: center; 
    display: flex; 
    flex-shrink: 0; 
    justify-content: center;
} 

._b5480744d655._f04bf322e3f3 { 
    gap: 8px; 
    margin-right: 16px;
} 

 

._9862b2b6a967 { 
    gap: 4px; 
    min-width: var(--button-min-width,auto);
} 

._c157be3cb088 { 
    background-color: transparent; 
    color: #4c5966; 
    position: relative;
} 

._1ee6d659bd43 { 
    background-image: none; 
    font-weight: 400; 
    text-align: center; 
    touch-action: manipulation; 
    vertical-align: middle; 
    white-space: nowrap; 
    -webkit-align-items: center; 
    align-items: center; 
    display: -webkit-inline-flex; 
    display: inline-flex; 
    -webkit-justify-content: center; 
    justify-content: center;
} 

._1ee6d659bd43 { 
    border-radius: 50%; 
    font-size: 16px; 
    font-weight: 500; 
    height: 40px; 
    width: 40px;
} 

._1ee6d659bd43 { 
    background-image: none; 
    cursor: pointer; 
    font-weight: 400; 
    text-align: center; 
    touch-action: manipulation; 
    vertical-align: middle; 
    white-space: nowrap;
} 

._1ee6d659bd43 { 
    align-items: center; 
    display: inline-flex; 
    justify-content: center;
} 

._1ee6d659bd43 { 
    border-radius: 50%;
} 

._1ee6d659bd43 { 
    font-size: 16px; 
    font-weight: 500; 
    height: 40px; 
    width: 40px;
} 

._c157be3cb088:before { 
    border: 2px solid #2f3e4e; 
    border-radius: inherit; 
    box-shadow: 0 0 0 2px #f6f7fb; 
    content: ""; 
    display: none; 
    height: calc(100% + 8px); 
    left: -4px; 
    position: absolute; 
    top: -4px; 
    width: calc(100% + 8px);
} 

._c157be3cb088:hover:not([disabled]) { 
    background-color: #f6f7fb; 
    color: #2f3e4e;
} 

.svg-inline--fa { 
    display: var(--fa-display, inline-block); 
    height: 1em; 
    overflow: visible; 
    vertical-align: -0.125em;
} 

.fa-fw { 
    text-align: center; 
    width: 1.25em;
} 

.svg-inline--fa { 
    display: var(--fa-display,inline-block); 
    height: 1em; 
    overflow: visible; 
    vertical-align: -.125em;
} 

._db78be352894 { 
    font-size: inherit;
} 

._6d88284663af { 
    color: var(--icon-color,"inherit");
} 

svg:not(:root) { 
    overflow: hidden;
} 

.svg-inline--fa.fa-fw { 
    width: var(--fa-fw-width, 1.25em);
} 

.svg-inline--fa.fa-fw { 
    width: var(--fa-fw-width,1.25em);
} 

