@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --input-border-radius: 12px;
  --shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
  --button-padding: 5px 10px;
  --button-border-radius: 4px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
